.home {
    width: 100vw;
    height: 100vh;
}


.clouds {
    position: fixed;
    width: 100%;
    height: 900px;
    top: 68px;
    filter: brightness(15%);
}

.clouds2 {
    position: fixed;
    width: 50%;
    bottom: 1px;
    filter: brightness(15%);
}

.davinci {
    position: fixed;
    filter: brightness(70%);
    top: 0;
    background-size: cover;
    background-position: center;
}

.name {
    color: #fff;
    position: absolute;
    margin-left: 15%;
    top: 28%;
    font-size: 3.5rem;

    font-family: "Cinzel Decorative", cursive;

    z-index: 3;
}

.data {
    z-index: 3;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 50px;

    position: relative;
    top: 70%;
    text-align: left;
    margin-left: 15%;
}

.separator {
    width: 50px;
    font-size: 3rem;
}

.born h1 {

    font-family: "Cinzel", serif;



    font-size: 3rem;

}

.born p {
    font-family: "Cinzel", serif;

    font-size: 1.5rem;
}

.died h1 {
    font-family: "Cinzel", serif;
    font-size: 3rem;
}

.died p {
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
}